{% extends 'base.html.twig' %}
{% block header_navigation_links %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('admin') }}">{{ 'movie.movie'|trans }}</a>
    </li>   
{% endblock %}
