{% extends 'base.html.twig' %}
{% block content %}
   {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey }}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-5">
            <div class="well">
                <form action="{{ path('login') }}" method="post">
                    <fieldset>
                        <legend><i class="fa fa-lock" aria-hidden="true"></i>login</legend>
                        <div class="form-group">
                            <label for="username">Email</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="password">password</label>
                            <input type="password" id="password" name="_password" class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>login
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
    {% block page_contents %}{% endblock %}
{% endblock %}


